name: website

on:
  push:
    branches: [main]
  workflow_dispatch:

permissions:
  contents: write

concurrency:
  group: website-deploy
  cancel-in-progress: true

jobs:
  website:
    runs-on: ubuntu-latest
    env:
      HUGO_ENV: production
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
          fetch-depth: 0

      - uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: latest
          extended: true

      - name: Build site
        run: hugo --minify --baseURL "https://61418.io/"

      - name: Deploy to gh-pages branch
        if: ${{ github.ref == 'refs/heads/main' }}
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh-pages
          publish_dir: ./public
          cname: 61418.io
          force_orphan: true
